[Desktop Entry]
Name=ActivityDiary
Name[x-test]=xxActivityDiaryxx
Exec=/opt/activitydiary/activitydiary
Icon=activitydiary
Type=Application
Terminal=false
Categories=Qt;KDE;Education;Sports
Comment=ActivityDiary - A GPS Track Diary
GenericName=Diary for GPS Tracks
X-DBUS-StartupType=Unique
X-KDE-StartupNotify=false
